/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jan 30, 2025, 2:57:49 PM
    Author     : lukec
*/

nav{
    text-align: center;
}
nav a{
    color: #FFC300;
    font-size: 12px;
    font-weight: 100;
    margin: 0 5px 0 5px;
}
body{ 
     background-color: green;
    
}

text{
    color: white
}
img{
    display: block;
    width: 800px;
    margin: 0 auto;
}
h1{
    text-align: center;
}
button{
    display: block;
}
a,button{

    margin: 0 auto;  
}

/* dont change!!! */
main{
    display:flex;
        gap:13px;
}
/* dont change!!! */


section{
    background-color: orange;
    flex:3;
}
aside{
    flex:1;
    background-color: cyan;
    padding: 17px;
    margin-left:1px;
}
#dog{

    cursor:url('Dog1.cur'), auto;
    
    a,button{
       cursor:url('Dog2.cur'), auto; 
    }
    img,section{
    cursor:url('Dog3.cur'), auto;
}
}

#cat{
  
    cursor:url('Cat2.cur'), auto;
    
    a,button{
       cursor:url('Cat3.cur'), auto; 
    }
    img,section{
    cursor:url('Cat1.cur'), auto;
}
}
/* classes */
.respond{
    width: 82%;
    height:auto;
}

.column {
    flex: 1; /* dont touch this */
    background-color: #0065C4;
    padding: 10px;

}
